# Examen Demo

In [1]:
# Your imports HERE !!!!
import numpy as np
import pandas as pd

## 01
- Dado un diccionario con una lista de nombres de películas y el año concatenado, crear una función que devuelva un DataFrame con dos columnas:
  - Columna 1, el nombre de la película sin el año
  - Columna 2, el año de la película

In [15]:
movies = {'Name': ["Matrix - 1999", "Cadena Perpetua - 1994", "Parasitos - 2019", "Vengadores, Endgame - 2019", "Interstellar - 2014",
                   "Django Desencadenado - 2012", "El Padrino - 1972", "El Caballero Oscuro - 2008", "Erase Una Vez En America - 1984",
                   "El Senyor de los Anillos, La Comunidad del Anillo - 2001"]}
expected_output = pd.DataFrame({'Name':["Matrix", "Cadena Perpetua", "Parasitos", "Vengadores, Endgame", "Interstellar", "Django Desencadenado",
                                        "El Padrino", "El Caballero Oscuro", "Erase Una Vez En America", "El Senyor de los Anillos, La Comunidad del Anillo"],
                                'Year':["1999", "1994", "2019", "2019", "2014", "2012", "1972", "2008", "1984", "2001"]})
output = extract_year(movies)   # This will call your function extract_year
display(output)
assert(expected_output.equals(output))  # This will fail if the result is not as expected

                                                Name  Year
0                                             Matrix  1999
1                                    Cadena Perpetua  1994
2                                          Parasitos  2019
3                                Vengadores, Endgame  2019
4                                       Interstellar  2014
5                               Django Desencadenado  2012
6                                         El Padrino  1972
7                                El Caballero Oscuro  2008
8                           Erase Una Vez En America  1984
9  El Senyor de los Anillos, La Comunidad del Anillo  2001

In [2]:
# Your solution HERE !!!!      
def extract_year(movies):
    def split_year(title):
        index = title.index('-')
        return title[index:].replace('-','').strip()
    
    def remove_year(title):
        index = title.index('-')
        return title[:index-1].strip()

    df_movies = pd.DataFrame(movies)
    df_movies['Year'] = df_movies['Name'].apply(split_year)
    df_movies['Name'] = df_movies['Name'].apply(remove_year)
    
    return df_movies

In [3]:
def extract_year(dicci):
  dicci2={}
  peli=[]
  ano=[]
  for i in dicci['Name']:
    titulo,year=i.split(" - ")
    peli.append(titulo)
    ano.append(int(year))

  dicci2={'Name':peli,'Year':ano}
  frame=pd.DataFrame(dicci2)
  return frame

In [4]:
def extract_year(movies):
  nombres = []
  anios = []
  for titulo in movies['Name']:
    partes = titulo.rsplit(' - ', 1)  
    nombre = partes[0]    
    anio = partes[1]
    nombres.append(nombre)
    anios.append(anio)

  return pd.DataFrame({'Name': nombres, 'Year': anios})

In [5]:
def extract_year(movies):
    df_movies = pd.DataFrame(movies)
    df_movies['Year'] = df_movies['Name'].apply(lambda x : x.split('-')[1].strip())
    df_movies['Name'] = df_movies['Name'].apply(lambda x : x.split('-')[0].strip())
    return df_movies

## 02
- Crear una función que reciba un array de NumPy y devuelva otro en el cual estén marcados como True los elementos duplicados (a partir de la segunda ocurrencia), y como False los no repetidos o las primeras ocurrencias de los duplicados.

In [16]:
numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
expected_output = np.array([False, True, True, False, False, False, False, False, True, False, True, True, False, False])
output = find_duplicates(numbers)   # This calls your function find_duplicates
print(output)
assert(np.array_equal(expected_output, output))  # This will fail if the result is not as expected

[False  True  True False False False False False  True False  True  True
 False False]

In [10]:
# Your solution HERE !!!!
def find_duplicates(numbers):
    serie = pd.Series(numbers)
    return serie.duplicated()

In [11]:
def find_duplicates(numbers):
    _, idx = np.unique(numbers, return_index = True)
    result = np.zeros_like(numbers, dtype = bool)
    result[idx] = True
    result = np.invert(result)
    return result

In [12]:
def find_duplicates(numbers):
  visto = set()
  output = []
  for value in numbers:
    if value in visto:
      output.append(True)
    else:
      visto.add(value)
      output.append(False)
  return np.array(output)

In [ ]:
def find_duplicates(numeros):
  dicci={}
  resul=np.full(numeros.shape, False, dtype=bool)
  for idx, valor in enumerate(numeros):
    if valor in dicci:
      resul[idx]=True
    else:
      dicci[valor]=True
  return resul

## 03
- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} -9x +  4y = 20 \\ -7y + 16x = 80                         \end{cases}$
    
    - $ B : \begin{cases} x - 2y + 3z = 7 \\ 2x + y + z = 4 \\ -3x + 2y -2z = -10 \end{cases}$
- Verifica por código los resultados

In [40]:
# Your solution HERE !!!!
import math
import numpy.linalg as linalg

a = np.array([ [-9,4], [16,-7] ])
b = np.array([20,80])

print(a)
print(b)
x,y = linalg.solve(a,b)
print(f'x={x} y={y}')

print(math.isclose(-9*x + 4*y, 20))
print(math.isclose(16*x - 7*y, 80))

A2 = np.array([[1, -2, 3], [2, 1, 1], [-3, 2, -2]])
b2 = np.array([7, 4, -10])

x,y,z = np.linalg.solve(A2, b2)
print(f'x={x} y={y} z={z}')

print(math.isclose(+1*x-2*y+3*z,7))
print(math.isclose(2*x+1*y+z,4))
print(math.isclose(-3*x+2*y-2*z,-10))

[[-9  4]
 [16 -7]]
[20 80]
x=460.0 y=1040.0
True
True
x=2.0 y=-1.0 z=1.0
True
True
True

## 04
- Crear un objeto Series con 10 elementos, que contenga más de un tipo básico, con índices de tipo string
- Demuestra que los datos con índices posicionales son los mismos que los obtenidos con índices semánticos, seleccionando a través de slicing, al menos 4 elementos de la serie anterior

In [18]:
# Your solution HERE !!!!
serie = pd.Series([1,2,3,4,5,True,"acelga",4.5,9,10], index = list('abcdefghij'))
serie.loc[:'d'] == serie.iloc[:4]

a    True
b    True
c    True
d    True
dtype: bool

In [19]:
elementos=pd.Series(['lápiz','4.13','33','True','hola','123','arbol','5.67','mesa','67'], 
          index=['a','b','c','d','e','f','g','h','i','j'])

print(elementos[2:6] == elementos['c':'f'])

c    True
d    True
e    True
f    True
dtype: bool

In [3]:
datos = pd.Series(
  [25, 3.14, "hola", True, 100, "AI", 0.99, False, "Python", 7],
  index=["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
)

print(datos.iloc[2:6] == datos.loc["c":"f"])

c    True
d    True
e    True
f    True
dtype: bool

## 05
- Crear un DataFrame de dimensiones 10x10, con números aleatorios en el rango `[0,20]`
- Reemplazar todos aquellos elementos menores de 5 por NaN
- Averiguar cuantos elementos tienen Nan por fila

In [20]:
# Your solution HERE !!!!
df = pd.DataFrame(np.random.randint(21, size = (10,10)))
display(df)
df.where(df >= 5, np.nan, inplace=True)
display(df)
print(df.isnull().sum(axis = 1))

    0   1   2   3   4   5   6   7   8   9
0   2  10  16   5  16  14   2   3   5  18
1   9   7   0   9   4  13  17  14   3  19
2  16   4  17  12  10  11   0  18  20   9
3   1   5   5  20  15   5  19  14   9  11
4   3  12  10   2  17   7  20   7   2  18
5  13  11   9   1   4  15  20   3  20   0
6   9  20  20   0   4  20   8   4  17   1
7  19  10   9  14   3  10   7   9   4  13
8   0   8   7   6   0  17  19  13  10  19
9   2  10   5  12  20   9  20  12  16   5

      0     1     2     3     4   5     6     7     8     9
0   NaN  10.0  16.0   5.0  16.0  14   NaN   NaN   5.0  18.0
1   9.0   7.0   NaN   9.0   NaN  13  17.0  14.0   NaN  19.0
2  16.0   NaN  17.0  12.0  10.0  11   NaN  18.0  20.0   9.0
3   NaN   5.0   5.0  20.0  15.0   5  19.0  14.0   9.0  11.0
4   NaN  12.0  10.0   NaN  17.0   7  20.0   7.0   NaN  18.0
5  13.0  11.0   9.0   NaN   NaN  15  20.0   NaN  20.0   NaN
6   9.0  20.0  20.0   NaN   NaN  20   8.0   NaN  17.0   NaN
7  19.0  10.0   9.0  14.0   NaN  10   7.0   9.0   NaN  13.0
8   NaN   8.0   7.0   6.0   NaN  17  19.0  13.0  10.0  19.0
9   NaN  10.0   5.0  12.0  20.0   9  20.0  12.0  16.0   5.0

0    3
1    3
2    2
3    1
4    3
5    4
6    4
7    2
8    2
9    1
dtype: int64

In [21]:
matrix=np.random.randint(21, size=(10,10))
frame=pd.DataFrame(matrix)
display(frame)
frame[frame<5]=np.nan
nanfila=frame.isna().sum(axis=1)
print(nanfila)

    0   1   2   3   4   5   6   7   8   9
0   5   6   6   8   1  10   1  18  15   0
1   4  19  18   3   8  14   4   2  18  20
2   9  12   8   9   7   9   1  17   3  10
3  10  19  13   7  15   8   1  20  18  17
4  16  19  19   1  16   4   8   9  11   9
5  12   6  12  13  15   7  10   5  17  13
6   4  18   3  13   7  15   0   9  16  13
7  20  18  10  14   9  11   2  12  14  13
8   0  13   3   2  12  16  19   1  11   1
9   5  20  17   6   6   7  17  20  19   9

0    3
1    4
2    2
3    1
4    2
5    0
6    3
7    1
8    5
9    0
dtype: int64

In [22]:
df = pd.DataFrame(np.random.randint(0, 20, size=(10, 10)))

print("DataFrame original:\n", df)
# 2. Reemplazar elementos menores de 5 por NaN
df[df < 5] = np.nan
print("\nDataFrame con NaNs:\n", df)
# 3. Contar cuántos NaNs hay por fila
nans_por_fila = df.isna().sum(axis=1)
print("\nCantidad de NaNs por fila:\n", nans_por_fila)

DataFrame original:
     0   1   2   3   4   5   6   7   8   9
0   7   4   0   2   7  12  17  16   6  11
1  13   5  13  13  14   2  16   8  18  16
2   2  19   8   2  13   9   9  10   8  17
3   6   5   4   7  17   0  16   9  13  18
4  19  14   9  15  13  16   7   9  10   1
5   7   6  11   7  16  16  19  18  10  18
6  14   7   8   3  16  12   0   6  15  18
7  13   2  16   0  11   1   8  15   8   4
8  14   1  19  19  10  11  11  15   9  10
9   3   7   1   1   5   0  16   6  14   3

DataFrame con NaNs:
       0     1     2     3   4     5     6   7   8     9
0   7.0   NaN   NaN   NaN   7  12.0  17.0  16   6  11.0
1  13.0   5.0  13.0  13.0  14   NaN  16.0   8  18  16.0
2   NaN  19.0   8.0   NaN  13   9.0   9.0  10   8  17.0
3   6.0   5.0   NaN   7.0  17   NaN  16.0   9  13  18.0
4  19.0  14.0   9.0  15.0  13  16.0   7.0   9  10   NaN
5   7.0   6.0  11.0   7.0  16  16.0  19.0  18  10  18.0
6  14.0   7.0   8.0   NaN  16  12.0   NaN   6  15  18.0
7  13.0   NaN  16.0   NaN  11   NaN   8.0  15   8   NaN
8  14.0   NaN  19.0  19.0  10  11.0  11.0  15   9  10.0
9   NaN   7.0   NaN   NaN   5   NaN  16.0   6  14   NaN

Cantidad de NaNs por fila:
 0    3
1    1
2    2
3    2
4    1
5    0
6    2
7    4
8    1
9    5
dtype: int64

## 06
- Dada una lista de elementos, crea una función que devuelva un dataframe sin los elementos duplicados

In [27]:
serie = ['a','b','c','a','c','a','g']
expected_output = pd.DataFrame(['a','b','c','g'])
output = remove_duplicates(serie)   # This will call tour function remove_duplicates
display(output)
display(expected_output)
assert(expected_output.equals(output))  # This will fail if the result is not as expected

   0
0  a
1  b
2  c
3  g

   0
0  a
1  b
2  c
3  g

In [24]:
# Your solution HERE !!!!
def remove_duplicates(lista):
    return pd.DataFrame(np.unique(lista))

In [25]:
def remove_duplicates(lista):
  noduplis=list(set(lista))
  df=frame=pd.DataFrame(noduplis, columns=['elementos'])
  return df

In [26]:
def remove_duplicates(lista):
  unicos = list(dict.fromkeys(lista))
  return pd.DataFrame(unicos)

## 07 - 1pt
- Escribir un generador `frange` que simule el comportamiento de la función `arange` de NumPy
- Esta función cada vez que se invoque debe devolver valores espaciados uniformemente a partir de un valor inicial. Se debe proveer a dicha función un valor inicial para la secuencia de números y un valor para el step
- Debe soportar valores númericos en coma flotante
- La función potencialmente se puede llamar un número infinito de veces
- Usando plain Python, sin ninguna librería

In [46]:
import math

init = 10.6
step = 0.8
g = frange(init, step)  # This calls your function frange

iters = 10
numbers = [next(g) for n in range(iters)]
for i, n in enumerate(numbers):
    assert(math.isclose(n, init + (step * i)))  # This will fail if the range is not properly created
print(numbers)

NameError: name 'frange' is not defined

In [47]:
# Your solution HERE !!!!
def frange(init, step):
    while True:
        yield init
        init += step

## 08
- Crear una función que reciba una Serie de Pandas y devuelva esa misma serie, reemplazando los espacios en blanco por el carácter menos frecuente en dicha serie.

In [49]:
serie = pd.Series(list('bba cabc faabba aacbbfe'))
expected_output = pd.Series(list('bbaecabcefaabbaeaacbbfe'))
output = clean_whitespace_replace(serie)  # This calls your function clean_whitespace_replace
assert(expected_output.equals(output))  # This will fail if result is not as expected

In [41]:
# Your solution HERE !!!!
def clean_whitespace_replace(serie):
    less_freq = serie.value_counts().idxmin()
    serie[serie == ' '] = less_freq
    return serie

In [50]:
from collections import Counter

def clean_whitespace_replace (seri):
  texto=''.join(seri.dropna().astype(str))
  frecu=Counter(i for i in texto if i != '')
  mefrecu=min(frecu,key= frecu.get)
  seridif=seri.astype(str).apply(lambda s: s.replace(' ' ,mefrecu))
  return seridif